# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare

## Kommentare

In [1]:
# Das ist ein Kommentar
print ("Hello world!")

Hello world!

## Einfache Datentypen

In [2]:
# Variablen und Wertezuweisung (Value-Assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [3]:
# Integer - Ganzzahl
age = 73
print (age)

73

In [4]:
# Float - Gleitkommazahl Komma ist Punkt!
size = 1.7123
print (size)

1.7123

In [5]:
# Bolean - Boolscher Wert Wahr oder Falsch
is_scientist = True
print (is_scientist)

True

In [6]:
type (name)

str

In [7]:
name
age

73

In [8]:
print (name)
print (age)

Hawking
73

## Operatoren

In [9]:
5+5

10

In [10]:
age*100

7300

In [11]:
name*10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [12]:
name+10

TypeError: can only concatenate str (not "int") to str

In [13]:
name+"10"

'Hawking10'

In [14]:
type(size)

float

In [15]:
size/age

0.023456164383561642

In [18]:
number_of_articles = "50"

In [19]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [20]:
int(number_of_articles) / 10

5.0

In [21]:
type(number_of_articles)

str

In [22]:
zahl=5
andere_zahl=6

In [23]:
zahl+andere_zahl

11

In [24]:
# Befehl für jupyter-notebook
%who

age	 andere_zahl	 is_scientist	 name	 number_of_articles	 size	 zahl

In [26]:
zahl = 20

In [28]:
zahl = "10"
int(zahl)
type(zahl)

str

In [29]:
Ganzzahl = int(zahl)

In [30]:
zahl = int(zahl)

 ## Funktionen und Methoden

In [3]:
len(name)

7

In [4]:
name.upper()

'HAWKING'

In [5]:
name

'Hawking'

In [6]:
name = name.upper()
print (name)

HAWKING

In [7]:
name.replace("W", "BLAAAA")

'HABLAAAAKING'

In [8]:
first_name="Anna"

In [9]:
first_name.count("A")

1

In [10]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [11]:
names = ["Darwin","Hawking","Curie"]

In [12]:
names [1]

'Hawking'

In [13]:
names [0]

'Darwin'

In [14]:
names[2]

'Curie'

In [15]:
len(names)

3

In [16]:
names[-1]

'Curie'

In [17]:
names [0:2]

['Darwin', 'Hawking']

In [18]:
names [:2]

['Darwin', 'Hawking']

In [19]:
slice_value = 2

In [20]:
names [slice_value]

'Curie'

In [21]:
names [1:]

['Hawking', 'Curie']

In [22]:
names [:slice_value]

['Darwin', 'Hawking']

In [23]:
names [slice_value:]

['Curie']

In [25]:
# Dictionary
authors_and_ages = {"Darwin": 73, 
                    "Goethe": 83, 
                    "Lovelace": 37}

In [26]:
 authors_and_ages["Darwin"]

73

In [27]:
authors_and_ages = {"Darwin": "dreiundsiebzig", 
                    "Goethe": 83, 
                    "Lovelace": 37}

In [28]:
authors_and_ages["Darwin"]

'dreiundsiebzig'

In [31]:
authors_and_ages = {"Darwin": "dreiundsiebzig", 
                    "Goethe": names, 
                    "Lovelace": 37}

In [32]:
authors_and_ages["Goethe"]

['Darwin', 'Hawking', 'Curie']

In [33]:
names.append("Kleist")

In [34]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [35]:
authors_and_ages["Rowling"] = 53

In [36]:
authors_and_ages

{'Darwin': 'dreiundsiebzig',
 'Goethe': ['Darwin', 'Hawking', 'Curie', 'Kleist'],
 'Lovelace': 37,
 'Rowling': 53}

## for-Schleife

In [37]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [39]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Kleist is a great name

In [40]:
del(names[0])

In [41]:
names

['Hawking', 'Curie', 'Kleist']

In [42]:
for name in names:
    print(name + " is a great name")
    print("he")
print ("ho")

Hawking is a great name
he
Curie is a great name
he
Kleist is a great name
he
ho

## Bedingte Anweisungen (Conditionals)

In [46]:
temp=20
if temp > 15:
    print("It's warm")

It's warm

In [44]:
20>15

True

In [48]:
temp=10
if temp >= 15:
    print ("It's warm")
else:
    print("It's cold")

It's cold

In [53]:
temp=30
if temp >= 15:
    print ("It's warm")
elif temp >= 25:
        print("It's hot")
else:
    print("It's cold")

It's warm

In [51]:
temp = 30
if temp >= 25:
    print ("It's hot")
elif temp >= 15:
        print("It's warm")
else:
    print("It's cold")

It's hot